
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Caveat;
    font-size: 1.15em;

}


body {
    background-image: url(afbeeldingen/achtergrond/hobb.jpg);
    background-size: 100vw 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

}

nav a {
    font-size: 1.5rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    
    }
    
    nav a:hover,
    nav a.active {
    color: #C41E3A;
    border-bottom: 3px solid #C41E3A;
    }

    #containerh {
        color: black;
        margin-left: 380px;
        margin-top: 60px;
        text-decoration: underline black;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        margin-top: 120px;
        margin-left: 180px;
    }


    .flex-container2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 12px;
        width: 100%;
        text-align: center;
        color: white;


        
    }


    .container2 {
        font-size: 16px;
        text-align: left;
        margin-top: 20px;
        margin-left: 50px;
        

    }

    .img-img {
        display: flex;
        width: 250px;
        height: 200px;
        padding: 0px;
        margin-right: 280px;


    }

    img {
        width: 17%;
        height: auto;
        float: right;
        border-radius: 25%;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.6);
    }

    .container3 {
        position: relative;
        bottom: 295px;
        margin-right: 210px;

    }

    .container4 {
        width: 50%;
    }

    h2 {
        color: aquamarine;
        font-size: 24px;
        text-decoration: underline;
    }

